<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <link href="css/style.css" rel="stylesheet">

    <link href="dependences/ress.min.css" rel="stylesheet">
    <link href="dependences/roboto_mono.css" rel="stylesheet">
    <link href="dependences/materialdesignicons.min.css" rel="stylesheet">
    <link href="dependences/vuetify.min.css" rel="stylesheet">
</head>

<body>
    <div id="app">
        <v-app>
            <v-container>
                <v-row>
                    <v-col cols="4">
                        <v-text-field outlined label="UUID(typeN)" prepend-inner-icon="mdi-alpha-n-box"
                                      v-model="UUID_N"></v-text-field>
                        <v-text-field outlined label="UUID(typeD)" prepend-inner-icon="mdi-alpha-d-box"
                                      v-model="UUID_D"></v-text-field>
                    </v-col>

                    <v-col cols="4">
                        <v-text-field outlined label="YMD_XXX" prepend-inner-icon="mdi-calendar-month"
                                      v-model="YMD_XXX">
                        </v-text-field>
                        <v-text-field outlined label="YMD" prepend-inner-icon="mdi-calendar-month" v-model="YMD">
                        </v-text-field>
                    </v-col>

                    <v-col cols="4">
                        <v-text-field outlined label="RndNumber" prepend-inner-icon="mdi-tilde" v-model="RndNumber">
                        </v-text-field>
                        <v-text-field outlined label="RndString" prepend-inner-icon="mdi-tilde" v-model="RndString">
                        </v-text-field>
                    </v-col>
                </v-row>
                <v-row class="mt-n6">
                    <v-col cols="6">
                        <v-textarea outlined clearable no-resize name="input-7-4" label="RSA2048 PubK PKCS#8"
                                    v-model="PubK">
                        </v-textarea>
                    </v-col>
                    <v-col cols="6">
                        <v-textarea outlined clearable no-resize name="input-7-4" label="RSA2048 PriK PKCS#1"
                                    v-model="PriK">
                        </v-textarea>
                    </v-col>
                </v-row>
                <v-row class="mt-n6">
                    <v-col cols="5">
                        <v-textarea outlined clearable no-resize name="input-7-4" label="明文区"></v-textarea>
                    </v-col>
                    <v-col cols="2">
                        <v-btn width="100%" height="32px" class="mb-2">SHA1</v-btn>
                        <v-btn width="100%" height="32px" class="mb-2">MD5</v-btn>
                        <v-btn width="100%" height="32px" class="mb-2">RSA</v-btn>
                        <v-btn width="100%" height="32px" color="primary">REGEN</v-btn>
                    </v-col>
                    <v-col cols="5">
                        <v-textarea outlined clearable no-resize name="input-7-4" label="结果区"></v-textarea>
                    </v-col>
                </v-row>
            </v-container>


        </v-app>
    </div>

    <script src="dependences/vue.js"></script>
    <script src="dependences/vuetify.js"></script>
    <script>
        new Vue({
            el: '#app',
            vuetify: new Vuetify({
                theme: {
                    dark: true
                }
            }),
            data() {
                return {
                    UUID_N: '@ViewBag.UUID_N',
                    UUID_D: '@ViewBag.UUID_D',
                    YMD_XXX: '@ViewBag.YMD_XXX',
                    YMD: '@ViewBag.YMD',
                    RndNumber: '@ViewBag.RndNumber',
                    RndString: '@ViewBag.RndString',
                    PubK: '@ViewBag.PubK',
                    PriK: '@ViewBag.PriK'
                }
            },
        })
    </script>
    <!--莫名其妙多个iframe-->
    <style>
        iframe {
            display: none;
        }
    </style>
</body>

</html>